{% extends 'base.html' %} {% block content %}

<h1 class="mb-5 mt-4">Gerenciar os funcionários.</h1>
<div class="card">
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label class="form-label">Selecione um Grupo</label>
        <select
          name="shift_id"
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
        >
          {%for item in shifts%}
          <option value="{{item.id}}">{{item.name}}</option>
          {%endfor%}
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input
          name="name"
          type="text"
          class="form-control"
          placeholder="digite o nome do colaborador"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Telefone</label>
        <input
          name="phone"
          type="number"
          class="form-control"
          placeholder="numero do telefone do colaborador 6193020884"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input
          name="email"
          type="email"
          class="form-control"
          placeholder="digite o e-mail do colaborador"
          required
        />
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">cadastrar</button>
      </div>
    </form>
  </div>
</div>
<!--  -->
<div class="card mt-5 mb-5">
  <div class="card-body">
    <h4>Horários cadastrados</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
          <th scope="col">E-mail</th>
          <th scope="col">Ativado</th>
        </tr>
      </thead>
      <tbody>
        {%for item in contributions%}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.email}}</td>
          {% if item.is_active ==1 %}
          <td class="">
            <span class="badge rounded-pill bg-success">ATIVADO</span>
          </td>
          {% else %}
          <td class="">
            <span class="badge rounded-pill bg-danger">INATIVO</span>
          </td>
          {% endif %}
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
<!--  -->
{% endblock %}

<!--  -->
{% block script %}
<script>
  $(document).ready(function () {
    $("form").on("submit", function (e) {
      e.preventDefault();
      var shift_id = $("select[name=shift_id]").val();
      var name = $("input[name=name]").val();
      var phone = $("input[name=phone]").val();
      var email = $("input[name=email]").val();

      axios
        .post(window.base_url + "/templates/funcionarios", {
          shift_id: shift_id,
          name: name,
          phone: phone,
          email: email,
        })
        .then(function (response) {
          Toastify({
            text: "ADICIONADO COM SUCESSO.",
            className: "info",
            style: {
              background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
          }).showToast();
        })
        .catch((e) => {
          console.log(e);
          Toastify({
            text: "ERRO: " + e,
            className: "error",
            style: {
              background: "linear-gradient(to right, red, red)",
            },
          }).showToast();
        });
    });
  });
</script>

{% endblock %}
